body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
nav {
    width: 100%;
}
.header img {
    height: 5rem;
}
.header {
    height: 8rem;
    display: flex;
    background: #fff;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-shadow: 0px -5px 10px #777777;
    padding: 0.5rem 1rem;
}
.contato {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contato i {
    color: #147da0;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.contato span {
    font-size: 1.2rem;
    font-family: arial;
    padding: 0.5rem;
    border-left: 3px solid #147da0;
    color: #0e5c75;
}
.contato span:nth-child(2) {
    font-size: 1.2rem;
    font-family: arial;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    margin-left: 2rem;
    border-left: 2px solid #d8d8d8;
    color: #0e5c75;
}
.rs {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    font-family: "montserrat";
}
.links-rs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links-rs span a {
    text-decoration: none;
}
.links-rs span a i {
    color: #147da0;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.links-rs span a i:hover {
    color: #0b475b;
    transform: scale(1.2);
    transition: 0.2s linear;
}
.title-rs {
    color: #147da0;
    font-weight: 600;
    padding: 0.5rem 0;
}
.carousel-item img {
    height: 30rem;
    width: 100%;
}
.header-info {
    display: flex;
    height: auto;
    justify-content: space-around;
    width: 100%;
}
.card-info {
    display: flex;
    align-items: center;
    color: #fff;
    height: auto;
    padding: 1rem 1rem 0rem 1rem;
    font-family: "montserrat";
    width: 100%;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
    border-radius: 0.2rem;
}
.card-info i {
    justify-content: center;
    border: 2px solid #b7b7b7;
    font-size: 3.5rem;
    height: 8rem;
    align-items: center;
    display: flex;
    width: 8rem;
    border-radius: 100%;
    margin-bottom: 1rem;
}
.info-more {
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 4rem;
}
.card-info-more {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
    border-top: none;
    background: #f7f7f7;
    margin-top: 0.5rem;
    font-family: "montserrat";
    width: 100%;
    color: #317d96;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
.card-info button span {
    font-size: 1.3rem;
    color: #b7b7b7;
}
#financeiro-more,
#servico-more,
#clientes-more,
#admin-more {
    opacity: 0;
    transition: 0.2s linear;
    transform: translate3d(0, -40px, 0);
}
.more {
    transform: translate3d(0, 0px, 0) !important;
    transition: 0.2s linear;
    opacity: 1 !important;
}
.card-info button {
    border: none;
    color: #b7b7b7;
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-info button:focus {
    outline: 0;
}
.informacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.text {
    width: 30rem;
    padding: 1rem;
}
.informacoes .logo img {
    height: 10rem;
}
.logo {
    margin: 0 2rem;
}
.conteudo {
    margin: 0 2rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
}
.title {
    padding: 0.5rem 1rem;
    background: #f5f5f5;
    border-top-right-radius: 0.3rem;
    color: #4fa2bd;
    border-top-left-radius: 0.3rem;
    font-weight: 600;
    font-family: "montserrat";
}
.bloco-clientes,
.bloco-financeiro,
.bloco-servico,
.bloco-admin {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    display: flex;
    width: 22%;
}
.info-geral {
    padding: 6rem 0 4rem 0;
}
.title-info {
    padding-bottom: 4rem;
    text-align: center;
    font-family: "montserrat";
    font-size: 2rem;
    color: #4fa2bd;
    font-weight: 600;
}
.dashboard a {
    text-decoration: none;
    color: #147da0;
    font-weight: 600;
    font-size: 1.2rem;
}
.dashboard a:hover {
    text-decoration: none;
    color: #104f64;
}
.footer-interno span {
    height: 5rem;
    align-items: center;
    display: flex;
    color: white;
    background: #147da0;
    font-family: "montserrat";
    justify-content: center;
    width: 100%;
}
.footer-top {
    height: auto;
    align-items: center;
    justify-content: center;
    background: #e3f5fb;
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
}
.title-footer-top {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    color: #147da0;
    justify-content: center;
    font-family: "montserrat";
    font-weight: 600;
    padding: 2rem 0 0rem 0;
}
.conteudo-footer-top {
    height: 12rem;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
    display: flex;
}
.conteudo-footer-top span i {
    border: 2px solid #147da0;
    font-size: 2rem;
    width: 4rem;
    color: #147da0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 4rem;
    border-radius: 100%;
    transition: 0.2s linear;
}
.conteudo-footer-top span i:hover {
    background: #147da0;
    color: white;
    border-color: white;
    transition: 0.2s linear;
}
.conteudo-footer-top span a {
    text-decoration: none;
}
.conteudo-footer-top span a:hover {
    text-decoration: none;
}
.linha {
    height: 100%;
    width: 2px;
    background: #147da0;
}
.conteudo-footer-top span {
    padding: 0 2rem;
}
.contato-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10rem;
}
.contato-interno {
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(../contact.png);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    background-position: center;
    background-image: navajowhite;
    background-size: cover;
}
#form {
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: white;
    flex-direction: column;
    box-shadow: 1px 1px 10px #9e9e9e;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    border-radius: 0.3rem;
}
.bloco1 {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.group {
    flex-direction: column;
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bloco1 .group input {
    width: 95%;
    background: transparent;
    border: 1px solid #bbbbbb;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.group label {
    width: 100%;
    padding-left: 1rem;
    font-family: "montserrat";
    color: #0b4a5f;
    font-size: 1.3rem;
}
.group input {
    width: 97.5%;
    background: transparent;
    border: 1px solid #bbbbbb;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
#form button {
    border-radius: 0.3rem;
    background: #147da0;
    width: 10rem;
    border: none;
    font-size: 1.2rem;
    color: white;
    height: 2.5rem;
    margin-top: 1rem;
}
.group textarea {
    width: 97.5%;
    background: transparent;
    border: 1px solid #bbbbbb;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
