body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
nav {
    width: 100%;
}
.header img {
    height: 4rem;
}
.title-beneficios {
    margin: 0 4rem;
}
.header {
    height: 8rem;
    display: flex;
    width: 100%;
    box-shadow: 0px -5px 10px #777777;
    top: 0;
    position: fixed;
    z-index: 1000;
    transition: 0.1s ease-out;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background: white;
}
.header span a {
    text-decoration: none;
    color: #147da0;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}
.header span a i {
    padding-right: 0.5rem;
}
.linha-form-informacoes {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}
.title-info2 {
    padding: 0.5rem 1rem;
    border-top-right-radius: 0.3rem;
    color: #4fa2bd;
    border-top-left-radius: 0.3rem;
    font-weight: 600;
    text-align: center;
    font-family: "montserrat";
    font-size: 2rem;
}
.linha-form-informacoes span {
    height: 0.2rem;
    width: 100%;
    background: rgb(20, 125, 160);
    background: linear-gradient(90deg, #083d4e 30%, rgba(93, 191, 223, 1) 30%);
}
.banner {
    margin-top: 8rem;
}
.carrousel-img1 {
    background-image: url(../banner.png);
    background-position: center;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.carrousel-img2 {
    background-image: url(../banner2.png);
    background-position: center;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.carrousel-img3 {
    background-image: url(../banner3.png);
    background-position: center;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.contato {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contato i {
    color: #147da0;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.contato-footer {
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contato-footer i {
    color: #147da0;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.contato span {
    font-size: 1.2rem;
    font-family: arial;
    padding: 0.5rem;
    border-left: 3px solid #147da0;
    color: #0e5c75;
}
.contato span:nth-child(2) {
    font-size: 1.2rem;
    font-family: arial;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    margin-left: 2rem;
    border-left: 2px solid #d8d8d8;
    color: #0e5c75;
}
.rs {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    font-size: 1.2rem;
    font-family: "montserrat";
}
.links-rs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links-rs span a {
    text-decoration: none;
}
.links-rs span a i {
    color: #147da0;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.links-rs span a i:hover {
    color: #0b475b;
    transform: scale(1.2);
    transition: 0.2s linear;
}
.title-rs {
    color: #147da0;
    font-weight: 600;
    padding: 0.5rem 0;
}
.sticky-font {
    color: #e0e0e0 !important;
}
.sticky-font2 {
    color: #e0e0e0 !important;
}
.carousel-item img {
    height: 30rem;
    width: 100%;
    margin-top: 8rem;
}

.sticky {
    transition: 0.1s linear;
    height: 6rem;
    background: rgba(14, 88, 112, 1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.info-more {
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 4rem;
}
.top-navegacao {
    height: 20rem;
    background: rgba(14, 88, 112, 1);
    width: 100%;
}

.informacoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: white;
    flex-direction: column;
    margin: 8rem 0 4rem 0;
}
.bloco-informacoes {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2rem;
}
.informacoes-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 20rem;
    background: white;
    transition: 0.3s ease-out;
    margin: 1rem;
}
.informacoes-card:hover {
    transform: translateY(-10px) !important;
    transition: 0.3s ease-out;
}
.informacoes .logo img {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
}
.conteudo {
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.title {
    color: #4fa2bd;
    font-weight: 600;
    font-family: "montserrat";
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #dedede;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    text-align: center;
    border: 1px solid #dedede;
    border-top: none;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    font-size: 14px;
    color: #717171;
    padding: 0.5rem;
}
.dashboard a {
    text-decoration: none;
    color: #147da0;
    font-weight: 600;
    font-size: 1.2rem;
}
.dashboard a:hover {
    text-decoration: none;
    color: #104f64;
}
.footer-interno span {
    height: 4rem;
    align-items: center;
    display: flex;
    color: white;
    background: #147da0;
    font-family: "montserrat";
    justify-content: center;
    width: 100%;
}
.footer-top {
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    background: #e3f5fb;
    padding: 4rem 0;
    display: flex;
}
.title-footer-top {
    width: 100%;
    display: flex;
    font-size: 1.3rem;
    text-align: center;
    color: #147da0;
    justify-content: center;
    font-family: "montserrat";
    font-weight: 600;
    padding: 0rem 0 0.5rem 0;
}
.conteudo-footer-top {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.conteudo-footer-top span i {
    font-size: 2rem;
    color: #147da0;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.2s linear;
}
.conteudo-footer-top span i:hover {
    color: #1a9ac5;
    transition: 0.2s linear;
    transform: translateY(-5px);
}
.title-form {
    padding: 1rem 0 1rem 0;
    font-family: "montserrat";
    font-size: 2rem;
    color: #4fa2bd;
    font-weight: 600;
}
.conteudo-footer-top span a {
    text-decoration: none;
}
.conteudo-footer-top span a:hover {
    text-decoration: none;
}
.linha-form {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.linha-form span {
    height: 0.2rem;
    width: 95%;
    background: rgb(20, 125, 160);
    background: linear-gradient(
        90deg,
        rgba(20, 125, 160, 1) 30%,
        rgba(93, 191, 223, 1) 30%
    );
}
.linha-form2 {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.linha-form2 span {
    height: 0.2rem;
    width: 100%;
    background: rgb(20, 125, 160);
    background: linear-gradient(
        90deg,
        rgba(20, 125, 160, 1) 30%,
        rgba(93, 191, 223, 1) 30%
    );
}
.linha-form3 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.linha-form3 span {
    height: 0.2rem;
    width: 100%;
    background: rgb(20, 125, 160);
    background: linear-gradient(90deg, #083d4e 30%, rgba(93, 191, 223, 1) 30%);
}
.linha {
    height: 100%;
    width: 2px;
    background: #147da0;
}
.contato-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contato-interno {
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(../contact.png);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    background-position: center;
    background-size: cover;
}
#form {
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: white;
    flex-direction: column;
    box-shadow: 1px 1px 10px #9e9e9e;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    border-radius: 0.3rem;
}
.bloco1 {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.group {
    flex-direction: column;
    display: flex;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bloco1 .group input {
    width: 95%;
    background: transparent;
    border: 1px solid #bbbbbb;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.group span {
    width: 100%;
    padding-left: 0.8rem;
    font-family: "montserrat";
    color: #0b4a5f;
    font-size: 1rem;
    font-weight: 600;
}
.group label {
    width: 100%;
    padding-left: 1rem;
    color: red;
    font-size: 0.8rem;
    justify-content: flex-start;
    display: flex;
    margin-bottom: 0;
    margin-top: 0rem;
}
.group input {
    width: 97.5%;
    background: transparent;
    border: 1px solid #bbbbbb;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
#form #load-more {
    border-radius: 0.3rem;
    background: #147da0;
    width: 10rem;
    border: none;
    font-size: 1.2rem;
    color: white;
    height: 2.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form #load-more span {
    padding: 0 0.2rem;
}
#form #load-more img {
    padding: 0 0.2rem;
    height: 2rem;
}
.group textarea {
    width: 97.5%;
    background: transparent;
    border: 1px solid #bbbbbb;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.title-endereco {
    padding: 0rem 0 0.5rem 0;
    color: #147da0;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "montserrat";
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloco2-footer span {
    font-family: "montserrat";
}
.retorno {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.info-geral {
    padding: 6rem 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 100%;
}
.title-info {
    padding: 0.5rem 1rem;
    border-top-right-radius: 0.3rem;
    color: #4fa2bd;
    border-top-left-radius: 0.3rem;
    font-weight: 600;
    text-align: center;
    font-family: "montserrat";
    font-size: 2rem;
}
.header-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bloco-info {
    width: 25rem;
    border: 10px solid #96bdca;
    height: 25rem;
    align-items: center;
    border-radius: 100%;
    flex-direction: column;
    text-align: justify;
    padding: 1rem;
    justify-content: center;
    display: flex;
    z-index: 100;
    transition: 0.3s ease-out;
}
.bloco-info:hover {
    box-shadow: 1px 1px 10px#147da0;
    transform: scale(1.1) !important;
    border: none;
    transition: 0.3s ease-out;
}
.card-info {
    width: 7rem;
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 20rem;
    position: absolute;
    margin-bottom: 20rem;
    background: white;
    flex-direction: column;
    text-align: center;
    z-index: 100;
    border: 1px solid #96bdca;
    height: 7rem;
}
.card-info i {
    color: #147da0;
    font-size: 2rem;
}

.card-info-more {
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.card-info-more span {
    align-items: center;
    justify-content: center;
    color: #083b4c;
    text-align: center;
    font-family: "montserrat";
    display: flex;
}
.title-card-info-more {
    display: block;
    color: #2d5f6f;
    font-size: 1.2rem;
    font-weight: 600;
}
.header-info2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-beneficios-geral {
    display: none;
}
@media (max-width: 1600px) {
    .card-info {
        margin-right: 19rem;
        margin-bottom: 18rem;
    }
    .carrousel-img2,
    .carrousel-img3,
    .carrousel-img1 {
        height: 25rem;
    }
    .bloco-info {
        width: 24rem;
        height: 24rem;
    }
    .informacoes-card {
        width: 20rem;
    }

    #form {
        padding: 0.5rem 0.5rem 1rem 0.5rem;
    }
    .bloco1 .group input {
        padding: 0.3rem 0.5rem;
    }
    .title-form {
        padding: 0.5rem 0 0.5rem 0;
        font-family: "montserrat";
        font-size: 1.5rem;
        font-weight: 600;
    }
    .group {
        padding: 0.3rem 0;
    }
    .bloco1 {
        padding: 0.5rem 0;
    }
}
@media (max-width: 1440px) {
    .info-geral {
        padding: 6rem 0;
    }
    .title-card-info-more {
        display: block;
        color: #2d5f6f;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .bloco-info {
        width: 22rem;
        height: 22rem;
        margin: 0;
    }
    .informacoes-card {
        width: 18rem;
    }
    .card-info {
        width: 6rem;
        margin-right: 17rem;
        margin-bottom: 18rem;
        height: 6rem;
    }

    .header-info {
        padding: 0rem;
    }
}
@media (max-width: 1366px) {
    #form {
        width: 45%;
    }
    .header-info {
        justify-content: space-evenly;
    }
    .informacoes-card {
        width: 16rem;
    }
    .card-info-more span {
        font-size: 0.9rem;
    }
    .title-card-info-more {
        font-size: 1.1rem;
    }
    .bloco-info {
        width: 20rem;
        height: 20rem;
    }
    .card-info {
        margin-right: 16rem;
        margin-bottom: 17rem;
    }
    .card-info i {
        font-size: 2.5rem;
    }
    .title-info {
        font-size: 1.5rem;
    }
    .footer-top {
        padding: 2rem 0;
    }
}
@media (max-width: 1280px) {
    .carrousel-img2,
    .carrousel-img3,
    .carrousel-img1 {
        height: 20rem;
    }
    .title-card-info-more {
        font-size: 1rem;
    }
    .top-navegacao {
        height: 18rem;
    }
    .bloco-informacoes {
        padding-bottom: 6rem;
        justify-content: center;
    }
    .card-info {
        width: 6rem;
        margin-right: 16rem;
        margin-bottom: 16rem;
        height: 6rem;
    }
    .card-info i {
        font-size: 2.5rem;
    }
    .title-info {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }
    .bloco-info {
        margin: 0rem;
    }
}
@media (max-width: 1024px) {
    .title-beneficios-geral {
        display: block;
        padding-bottom: 4rem;
    }
    .title-beneficios {
        display: none;
    }
    .header-info {
        justify-content: space-around;
        padding: 0 0rem;
    }
    #form {
        width: 60%;
    }
    .informacoes .logo img {
        height: 8rem;
    }
    .informacoes-card {
        height: 20rem;
        margin: 1rem;
        width: 14rem;
    }
    .title {
        font-size: 0.9rem;
    }
    .text {
        height: 6rem;
        font-size: 0.9rem;
    }
}
@media (max-width: 800px) {
    .title-beneficios-geral {
        padding-bottom: 4rem;
    }
    .header-info {
        justify-content: center;
        padding: 0rem;
        flex-direction: column;
    }
    .title-info {
        font-size: 2rem;
    }
    .bloco-info {
        margin: 1rem 0;
        width: 24rem;
        height: 24rem;
    }
    .info-geral {
        padding: 6rem 0;
    }
    .card-info {
        width: 7rem;
        margin-right: 20rem;
        margin-bottom: 18rem;
        height: 7rem;
    }
    .card-info i {
        font-size: 3rem;
    }
    .title-card-info-more {
        font-size: 1.5rem;
    }
    #form {
        width: 70%;
    }
    .contato-interno {
        padding: 6rem 0;
    }
    .footer-top img {
        display: none;
    }
    .rs {
        display: none;
    }
}
@media (max-width: 600px) {
    .dashboard a {
        font-size: 1rem;
    }
    .contato span:nth-child(2) {
        font-size: 1rem;
        font-weight: 600;
        font-family: "montserrat";
        color: #147da0;
    }
    .header img {
        height: 3rem;
    }
    .header {
        height: 5rem;
    }
    .banner {
        margin-top: 5rem;
    }
    .contato i {
        padding-bottom: 0rem;
    }
    .carrousel-img2,
    .carrousel-img3,
    .carrousel-img1 {
        height: 15rem;
    }
    .top-navegacao {
        display: none;
    }
    .title-info2 {
        font-size: 1.8rem;
        color: #147da0;
    }
    .title-informacoes {
        margin-top: 0rem;
    }
    .informacoes {
        padding: 4rem 0;
    }
    .linha-form-informacoes {
        margin-bottom: 0rem;
    }
    .bloco-informacoes {
        justify-content: space-around;
        padding-bottom: 0rem;
    }
    .info-geral {
        padding: 4rem 0;
    }
    .title-info {
        font-size: 1.8rem;
    }
    .footer-top {
        flex-direction: column;
    }
    .bloco2-footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 1rem 0;
    }
    .bloco1-footer {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0;
        justify-content: center;
    }
    .bloco-info {
        width: 22rem;
        height: 22rem;
    }
    .title-card-info-more {
        font-size: 1.3rem;
    }
    .card-info {
        margin-right: 18rem;
        margin-bottom: 16rem;
    }
    #form {
        width: 90%;
    }
    .contato-interno {
        padding: 4rem 0;
    }
    .informacoes-card {
        width: 45%;
        margin: 1rem 0;
    }
}
@media (max-width: 500px) {
    .contato-footer {
        display: flex;
        width: 100%;
        padding: 1rem 0 1rem 0;
        flex-direction: column;
    }
    .contato {
        display: none;
    }
}
