/*------------------------------------------------*/
/*	Page: Login
/*------------------------------------------------*/

// body.page-login,
// body.page-login-social,
// body.page-register {
// 	background-image: image-url("gray_jean.png");
// 	background-repeat: repeat;
// }

.register-box,
.page-login-social .login-box,
.page-login-social .btn-login-social {
    width: 30%;
    margin: 0 auto;

    @include max-screen($break-large) {
        width: 60%;
    }

    @include max-screen($break-medium) {
        width: 80%;
    }

    @include max-screen($break-small) {
        width: 100%;
    }
}

.page-login {
    .top-bar {
        margin: 0;
        padding: 10px 0;

        img {
            width: 140px;
        }
    }

    .container-fluid {
        margin-top: 14em;
        text-align: left;

        @include max-screen($break-xsmall) {
            margin-top: 6em;
        }
    }
}

.page-login-social {
    .container-fluid {
        margin-top: 9em;

        h1 {
            text-align: center;
        }
    }

    .login-box {
        margin-top: 1em;
    }

    .login-separator {
        font-size: 1.2em;
        margin: 50px 0;

        span {
            border-bottom: 1px solid #ccc;
        }
    }
}

.btn-login-social {
    color: #fff;
    position: relative;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    margin-bottom: 15px !important;

    &:before {
        @include border-left-radius(2px);

        font-family: Ionicons;
        font-size: 20px;
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        padding: 7px 0;
        width: 40px;
        height: 40px;
    }

    &.btn-login-facebook {
        background-color: #3b5998;

        &:hover,
        &:focus {
            color: #fff;
            background-color: darken(#3b5998, 3%);
        }

        &:before {
            @include border-left-radius(2px);

            content: "\f231";
            background-color: darken(#3b5998, 10%);
        }
    }

    &.btn-login-twitter {
        background-color: #00c7f7;

        &:hover,
        &:focus {
            color: #fff;
            background-color: darken(#00c7f7, 3%);
        }

        &:before {
            @include border-left-radius(2px);

            content: "\f243";
            background-color: darken(#00c7f7, 10%);
        }
    }

    &.btn-login-googleplus {
        background-color: #ca3522;

        &:hover,
        &:focus {
            color: #fff;
            background-color: darken(#ca3522, 3%);
        }

        &:before {
            @include border-left-radius(2px);

            content: "\f235";
            background-color: darken(#ca3522, 10%);
        }
    }
}

.login-box {
    padding: 30px;
    background-color: #fff;

    h1 {
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .text-right {
        padding-top: 5px;

        @include max-screen($break-xsmall) {
            font-size: 10px;
        }
    }

    a {
        @include inline-block;

        color: $base-font-color-dark;
        border-bottom: 1px dashed #ccc;

        &:hover,
        &:focus {
            border-bottom-color: transparent;
        }
    }
}

.login-copytext {
    padding-left: 30px;

    @include max-screen($break-small) {
        padding: 30px 0;
    }

    h2 {
        font-size: 1.5em;
        margin-top: 0;
    }

    p {
        margin-bottom: 30px;
        font-size: 1.2em;
        line-height: 1.6;
        color: lighten($base-font-color-dark, 10%);
        font-weight: 300;
    }
}

/*------------------------------------------------*/
/*	Page: Register
/*------------------------------------------------*/

.register-box {
    padding: 30px;
    margin-top: 15em;
    background-color: #fff;

    h1 {
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    a {
        color: $base-font-color-dark;
        border-bottom: 1px dashed #ccc;

        &:hover,
        &:focus {
            border-bottom-color: transparent;
        }
    }

    .fancy-checkbox input[type="checkbox"] + span {
        font-size: 11px;
    }
}
