[data-anime] {
    opacity: 0;
    transition: 0.3s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="leftBig"] {
    transform: translate3d(-100px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="rightBig"] {
    transform: translate3d(100px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="topBig"] {
    transform: translate3d(0, -100px, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime="bottomBig"] {
    transform: translate3d(0, 100px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
