/*------------------------------------------------*/
/*	Main Content
/*------------------------------------------------*/

.main-content {
	padding: 0 30px;
}

.right-sidebar {
	@include transition-property(right);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-in-out);

	width: 200px;
	position: fixed;
	right: -210px;
	top: 47px;
	z-index: 99;
	height: 100%;
	background-color: $left-content-bg-color;

	@include max-screen($break-large) {
		display: none;
	}
	
	.widget-chat-contacts {
		background: transparent;
		border: none;
		
		.widget-header {
			background-color: $left-content-bg-color;
			border-bottom: none;
			padding: 4px 10px 10px 10px;

			.btn-group {
				float: none;
				margin-left: 0;
			}
		}
	}

	&.active {
		right: 0;
	}
}

.main-content.sidebar-minified {
	.primary-content-wrapper {
		width: 100%;
	}

	.sidebar-wrapper {
		display: none;
	}
}

.primary-content-heading {
	margin-bottom: 30px;

	h2 {
		font-family: $secondary-font-family-semibold;
		margin-bottom: 0;

		@include max-screen($break-xsmall) {
			font-size: 24px;
		}
	}
}

.breadcrumb {
	background-color: inherit;
	padding: 0;
	margin-bottom: 0;

	> li {
		line-height: 2.6;
	}

	a {
		color: $base-font-color-dark;
	}

	.icon {
		font-size: 1.2em;
		margin-right: 5px;
	}

	.active {
		font-weight: 300;
	}
}

.sticky-content {
	@include max-screen($break-small) {
		display: none;
	}
}

ul.widget-inbox-list {
	li {
		position: relative;
		padding-left: 15px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px dashed #ccc;
		
		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		&:before {
			@include border-radius(50%);

			content: ' ';
			position: absolute;
			top: 7px;
			left: 0;
			width: 8px;
			height: 8px;
			border: 2px solid #ccc;
		}

		&.unread {
			.sender,
			.title {
				font-weight: 700;
			}
			
			&:before {
				background: $base-font-color-dark;
				border-color: $base-font-color-dark;
			}
		}
	}

	.title {
		font-size: 0.9em;
		margin: 0;
	}

	.brief {
		font-style: italic;
		font-size: 0.9em; 
	}

	.timestamp {
		font-size: 0.85em;
	}
}

/* widgets */
.widget {
	@include border-radius(3px);

	border-width: 1px;
	border-style: solid;
	margin-bottom: 20px;
	background-color: $widget-bg-color;
	border-color: darken($widget-header-bg-color, 10%);

	.widget-header,
	&.widget-no-header {
		h3 {
			margin-top: 0;
			font-size: 14px;
			color: darken($widget-header-bg-color, 50%);
		}
	}

	&.widget-transparent {
		border: none;
		background: transparent;
	}

	.widget-header {
		padding: 0 10px;
		border-bottom: 1px solid  $widget-bg-color;;
		background-color: $widget-header-bg-color;

		h3 {
			@include inline-block;

			margin-bottom: 0;
			line-height: 40px;
			float: left;

			@include max-screen($break-xsmall) {
				display: block;
				float: none;
			}

			i {
				width: 18px;
				padding: 10px 0;
				font-size: 16px;
				color: #6A6A6A;
			}
		}

		.btn-group {
			> a,
			.dropdown-toggle .icon {
				color: darken($widget-header-bg-color, 40%);

				&:hover, &:focus {
					color: darken($widget-header-bg-color, 60%);
				}
			}
		}

		.widget-header-toolbar {
			float: right;
			width: auto;
			margin-left: 15px;

			@include max-screen($break-xsmall) {
				display: block;
				position: initial;
			}

			&.btn-group {
				top: 5px;

				@include max-screen($break-xsmall) {
					> .btn {
						top: -5px;
					}
				}
			}

			.label {
				position: relative;
				top: 11px;
				padding: 5px;
				font-size: 85%;

				@include max-screen($break-xsmall) {
					top: 0;
				}

				i {
					font-size: 14px;
				}
			}

			.btn-xs {
				top: 5px;
			}

			.btn-link {
				padding: 0 0 0 15px;

				i {
					font-size: 28px;
					line-height: 1;
				}

				&:first-child {
					padding-left: 0;
				}
			}

			.progress {
				width: 150px;
				position: relative;
				top: 19px;

				@include max-screen($break-xsmall) {
					top: 0;
				}

				.progress-bar {
					font-size: 10px;
					line-height: 1.5;
				}
			}
		}

		.nav-tabs {
			border-bottom: none;

			> li {
				> a {
					height: 41px;
				}

				> a, > a:hover, > a:focus {
					border-top: none;
					border-bottom: none;
				}
			}
		}

		.nav-justified {
			> li {
				> a {
					@include border-radius(0);
				}
				
				&:first-child > a {
					@include border-top-left-radius(2px);
				}

				&:last-child > a {
					@include border-top-right-radius(2px);

					margin-right: -1px;
				}
			}
		}
	}

	.widget-content {
		padding: 20px;
	}

	.widget-footer {
		padding: 7px 10px;
		background-color: $widget-footer-bg-color;

		.progress {
			margin-bottom: 0;
		}
	}
}

.widget-header-toolbar {
	.pagination-sm {
		margin-bottom: 0;
		margin-top: 5px;
	}

	.onoffswitch > label:first-child {
		margin-bottom: 0;
		top: 3px;
	}

	.fancy-checkbox {
		margin-bottom: 0;
		position: relative;
		top: 4px;

		input[type="checkbox"] + span {
			margin-right: 0;
		}
	}

	.badge {
		margin-top: 10px;

		@include max-screen($break-xsmall) {
			margin-top: 0;
		}
	}
}

/* portlets */
.portlet {
	@include border-radius(2px);

	padding: 20px;
	margin-bottom: 20px;
	position: relative;
	color: #fff;

	a {
		color: #fff;
		text-decoration: underline;

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	.dropdown-menu > li > a {
		text-decoration: none;
	}

	h3 {
		margin: 0 0 30px 0;
		font-family: $secondary-font-family-semibold;
		font-size: 27px;
		border-bottom: 1px solid #fff;
	}

	.portlet-bg-icon {
		@include opacity(0.1);

		font-size: 14em;
		position: absolute;
		top: 50%;
		right: 20px;
		bottom: 0;
		margin-top: -70px;
		line-height: 1;
	}

	&.portlet-blue {
		background-color: $color-blue;
	}

	&.portlet-seagreen {
		background-color: $color-seagreen;
	}

	&.portlet-green {
		background-color: $color-green;
	}

	&.portlet-orange {
		background-color: $color-orange;
	}
}

.portlet-today {
	i {
		@include inline-block;
		min-width: 30px;
		font-size: 27px;
		position: relative;
		top: -4px;
		line-height: 1;
	}
}

.portlet-reminder {
	.reminder-time {
		@include inline-block;
		
		font-size: 3em;
		font-weight: 300;
		line-height: 1;
	}

	> .reminder-buttons {
		position: relative;
		top: -5px;
		left: 10px;
	}

	.reminder-place {
		font-size: 1.5em;
	}
}

/* chat status dropdown */
ul.chat-status > li > a {
	&.online {
		color: $color-success;
	}

	&.away {
		color: $color-warning;
	}

	&.busy {
		color: $color-danger;
	}

	&.offline {
		color: $color-default;
	}

	&:hover, &:focus {
		color: #fff;
	}

}

/* chat online/offline contacts */
ul.chat-contacts {
	> li {
		padding: 5px;
		font-size: 0.9em;

		&:hover {
			cursor: pointer;

			img {
				@include opacity(1);
			}
		}

		img {
			@include opacity(0.8);

			width: 30px;
			margin-right: 10px;
			border: 2px solid $color-success;
		}

		&.away {
			img {
				border-color: $color-warning;
			}
		}

		&.busy {
			img {
				border-color: $color-danger;
			}
		}

		a, a:hover, a:focus {
			color: #fff;
		}
	}

	&.contacts-offline > li {
		img {
			border-color: lighten($left-content-bg-color, 15%);
		}

		a, a:hover, a:focus {
			color: lighten($left-content-bg-color, 15%);
		}
	}
}

