/*------------------------------------------------*/
/*	Main Navigation
/*------------------------------------------------*/

.main-nav {
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 70px;
	z-index: 1;
	width: 100%;
	
	h3 {
		font-family: $secondary-font-family-semibold;
		margin: 30px 10px 15px;
		padding-bottom: 12px;
		font-size: 1.3em;
		color: lighten($left-content-bg-color, 28%);
		border-bottom: 1px solid lighten($left-content-bg-color, 10%);
	}
}

ul.main-menu {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;

	li {
		a {
			display: block;
			position: relative;
			padding: 12px 0 12px 15px;
			font-size: 13px;
			color: $menu-item-font-color;

			&:hover {
				text-decoration: none;
				color: #fff;
				background-color: #2e2e2e;
			}
		}

		&.active {
			> a {
				color: #fff;
				background-color: #0f0f0f;

				&.submenu-toggle {
					background-color: transparent;
				}
			}
		}

		i {
			font-size: 16px;
		}

		.text {
			padding-left: 10px;
		}

		&.has-submenu {
			position: relative;

			> a:after {
				font-family: ionicons;
				font-size: 14px;
				width: 10px;
				position: absolute;
				right: 15px;
				top:15px;
				text-shadow: none;
				content: '\f3d0';
			}

			&.active > a:after {
				content: '\f3d2';
			}

			li.has-submenu > a:after {
				top: 11px;
			}
		}
	}

	.sub-menu {
		position: relative;
		padding-left: 0;

		li {
			a {
				background-color: #131313;

				&:hover, &:focus {
					background-color: #2e2e2e;
				}

				.badge {
					position: absolute;
					right: 15px;
				}
			}

			.text {
				padding-left: 27px;
			}

			&.active {
				a {
					background-color: #000;
				}
			}

			.sub-menu {
				.text {
					padding-left: 50px;
				}
			}
		}
	}
}

/* fixed left sidebar navigation */
body.fixed-left-active {
	#col-left {
		position: fixed;
		height: 100%;
	}

	.main-nav {
		position: relative;
		margin-bottom: 15px;
	}
}

/* minified main navigation active */
.main-nav-minified {
	#col-left {
		width: 55px;
		top: 35px;

		ul.main-menu > li:hover > ul.sub-menu,
		ul.sub-menu > li:hover > ul.sub-menu {
			display: block !important;
			min-width: 200px;
			position: absolute;
			top: 0;
			margin-left: 55px;
			z-index: 9999;
		}

		ul.main-menu > li.has-submenu li.has-submenu > a {
			&:after {
				font-family: ionicons;
				font-size: 14px;
				content: '\f3d3';
				display: block;
			}
		}

		ul.sub-menu > li:hover > ul.sub-menu {
			margin-left: 200px;
		}

		ul.main-menu li {
			i {
				font-size: 20px;
			}

			> a:hover {
				background-color: #1e1e1e;
			}
		}

	}

	#col-right {
		margin-left: 55px;

		@include max-screen($break-large) {
			margin-left: 0;
		}
	}

	.main-nav h3,
	ul.main-menu > li > a span,
	ul.main-menu li.has-submenu > a:after,
	#col-left .main-menu > li.has-submenu.active .sub-menu,
	#col-left .widget {
		display: none;
	}
	
	ul.main-menu > li > a {
		padding: 12px;
		text-align: center;
	}
	
	ul.main-menu ul.sub-menu li .text {
		padding-left: 0;
	}
}


