/*------------------------------------------------*/
/*  Typography
/*------------------------------------------------*/

/* contextual colors */
.text-primary {
	color: $color-primary;
}

.text-success {
	color: $color-success;
}

.text-info {
	color: $color-info;
}

.text-warning {
	color: $color-warning;
}

.text-danger {
	color: $color-danger;
}

/* blockquotes */
blockquote {
	border-left: 5px solid #ccc;
}

.blockquote-reverse, 
blockquote.pull-right {
	border-right: 5px solid #ccc;
}
