/*------------------------------------------------*/
/*	Skin: Seagreen, Light Nav
/*------------------------------------------------*/

@import "compass/css3";

$accent-color: #3f7577;

/* top bar */
.top-bar {
	background-color: $accent-color;
	border-bottom-color: darken($accent-color, 10%);

	.action-group {
		.btn-group {
			> a {
				color: darken($accent-color, 10%);
			}

		}

		.action-item {
			> a {
				color: darken($accent-color, 10%);

				&:hover, &:active, &.active {
					color: #fff;
				}
			}
		}
	}

	.logged-user {
		.btn-group > a {
			color: darken($accent-color, 10%);
		}

		.btn img {
			border-color: #fff;
		}
	}

	.action-group,
	.logged-user {
		.btn-group > a:hover {
			color: #fff;
		}

		.btn-group.open > a {
			color: #fff;
		}
	}
}

/* minified and off-canvas toggle button */
.btn-nav-sidebar-minified i, 
.btn-off-canvas i {
	color: #fff;

	&:hover {
		color: #fff;
	}
}

/* custom nav pills */
.nav-pills-custom-minimal {
	> li.active a {
		border-top-color: $accent-color;

		&:hover, &:focus {
			border-top-color: $accent-color;
		}
	}

	&.custom-minimal-bottom {
		> li.active a {
			border-bottom-color: $accent-color;

			&:hover, &:focus {
				border-bottom-color: $accent-color;
			}
		}
	}
}

body {
	background: #fff;
}

#col-right {
	border-right: 1px solid #ccc;
}

.main-nav h3 {
	border-bottom: 1px solid #ccc;
}

ul.main-menu {
	li {
		a {
			color: #696565;

			&:hover, &:focus {
				background-color: #e7e7e7;
				color: #696565;
			}
		}

		&.active {
			> a {
				background-color: #e7e7e7;
				color: #696565;

				&.submenu-toggle {
					background-color: #fff;
					color: #696565;
				}
			}
		}
	}

	.sub-menu,
	.sub-menu .sub-menu {
		> li {
			a {
				background-color: #fff;

				&:hover, &:focus {
					background-color: #e7e7e7;
				}
			}

			&.active {
				> a {
					background-color: #e7e7e7;

					&:hover, &:focus {
						background-color: #e7e7e7;
					}
				}
			}

			&.has-submenu a {
				background-color: #fff;
			}
		}
	}
}

.main-nav-minified #col-left ul.main-menu {
	li > a:hover {
		background-color: #e7e7e7;
	}

	> li:hover ul.sub-menu {
		@include box-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));

		height: auto !important;
	}
}

